# CipherPool Environment Configuration

# Service Ports & Environment
PORT=3001
NODE_ENV=development

# Network & RPC Configuration (Ethereum Sepolia Testnet)
RPC_URL=
DATABASE_URL=
CHAIN_ID=11155111
INDEXER_START_BLOCK=11635277
INDEXER_BLOCK_BATCH_SIZE=500

# Protocol Smart Contract Deployments (Sepolia)
POOL_CONTRACT_ADDRESS=0x63bA2DF59b43801492060f2cc5D071155C45dD47
CUSTODY_ASSET_ADDRESS=0x7c5BF43B851c1dff1a4feE8dB225b87f2C223639
POOL_RUNTIME_CODE_HASH=0x4200e0006ccec7cfee9840944ac3b17996d078932dc4610155affab5e1fcd222

# Zama fhEVM Protocol Canonical Addresses (Sepolia)
ZAMA_ACL_ADDRESS=0xf0Ffdc93b7E186bC2f8CB3dAA75D86d1930A433D
ZAMA_COPROCESSOR_ADDRESS=0x92C920834Ec8941d2C77D188936E1f7A6f49c127
ZAMA_KMS_VERIFIER_ADDRESS=0xbE0E383937d564D7FF0BC3b46c51f0bF8d5C311A

POLL_INTERVAL_MS=3000
